<div class="container h-100" >
    <div class="row align-items-center h-100" >
        <div class="card pt-2 shadow-sm">
            <div class="col-sm-12 mx-auto p-5">
                <div class=" text-center">
                    <img class="imageChart" src="assets/img/chart.png">
                    <h5>WELCOME TO THE USA
                        POPULATION DATA APP</h5>

                    <button class="btn btn-primary" [routerLink]="['/charts']">Go to charts!</button>
                </div>
            </div>
        </div>
    </div>
</div>
